# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [53]:
import pandas as pd
import numpy as np

In [54]:
import pandas as pd
import numpy as np

# Seu código aqui
tempMedia= [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
tempMediaSerie = pd.Series(tempMedia)
tempMediaSerie

TypeError: 'numpy.ndarray' object is not callable

#### 2) Coloque os anos nos índices conforme a tabela.

In [23]:
pd.DataFrame({'Anomalia Termica': tempMediaSerie})

   Anomalia Termica
0             -0.08
1             -0.27
2              0.12
3             -0.03
4              0.26
5              0.40
6              1.02

In [43]:

# seu código aqui
tempMediaSerieIndex =  pd.Series(tempMedia, 
                            index = ['1900','1920', '1940', '1960', '1980', '2000', '2020'])

TypeError: 'numpy.ndarray' object is not callable

In [25]:
pd.DataFrame({'Anomalia Termica': tempMediaSerieIndex})

      Anomalia Termica
1900             -0.08
1920             -0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [51]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
tempMediaDict = pd.Series(dic_temperaturas)
tempMediaDict

TypeError: 'numpy.ndarray' object is not callable

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [40]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   102.797595   98.230068   91.990625
1    92.514547   91.855222  103.888044
2   103.712010  112.239835  105.514767
3    96.500246   91.383611  103.468010
4   108.146587   90.763759  110.110633
5    99.141204  102.571149  108.899412
6   103.394807   93.977051  100.737062
7   117.034232   94.636561  117.627721
8   104.549176   78.900845  102.467642
9   103.935232   87.544917  118.478298
10  104.838365   83.149234  110.820602
11   81.157735   92.828955   82.966496
12   93.859418   90.329826  101.102846
13  110.967242   80.366654   93.397559
14  102.133591  103.688851   96.638614
15  101.104090   93.744439   95.094302
16   88.619447   99.408961   87.368279
17  105.607949   96.711483   91.671327
18  104.644343  107.013369  107.054135
19   98.508196  107.811793  101.798788

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [56]:
#seu código aqui
novadf = pd.Series(arr,
                   index = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10','11', '12', '13', '14', '15', '16', '17', '18', '19', '20'])
novadf

TypeError: 'numpy.ndarray' object is not callable

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [55]:
# seu código aqui
arr = np.random.normal(100, 10, (20, 3))

df_random = pd.DataFrame(arr, columns=["A", "B", "C"])


df_random["media"] = df_random.mean(axis=1)


print(df_random.head())

            A           B           C       media
0  105.873964   96.960127   82.377748   95.070613
1   94.889884   98.023205  115.416544  102.776544
2  109.221254  120.665962  109.696161  113.194459
3  100.158322   86.890507  101.395516   96.148115
4   94.792780  111.002339   89.170129   98.321750

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [57]:
# seu código aqui

df_random["log_med"] = np.log(df_random["media"])


print(df_random.head())

            A           B           C       media   log_med
0  105.873964   96.960127   82.377748   95.070613  4.554620
1   94.889884   98.023205  115.416544  102.776544  4.632557
2  109.221254  120.665962  109.696161  113.194459  4.729107
3  100.158322   86.890507  101.395516   96.148115  4.565890
4   94.792780  111.002339   89.170129   98.321750  4.588245